
html,
body {
  background-image: linear-gradient(
    to right,
    rgb(232, 209, 213),
    rgb(122, 195, 219)
  ) ;
}

.center{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}